<div class="col-lg-4"></div>
<div class="col-lg-4">
<form action="<?php echo base_url().'index.php/admin/admin/signin';?>" method="post">
        <div class="form-group">
            <label class="control-label">用&nbsp;&nbsp;户&nbsp;&nbsp;名:</label>

            <input type="text" class="form-control" placeholder="请输入用户名" id="username" name="username"/>
        </div>
        <div class="form-group">
            <label class="control-label">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码:</label>

            <input type="password" class="form-control" placeholder="请输入密码" id="password" name="password"/>
        </div>
        <div class="form-group">
        <center>
            <button type="submit" class="btn btn-primary">提交</button>
            <button type="reset" class="btn btn-warning">重置</button>
        </center>
        </div>
</form>
</div>
<div class="col-lg-4"></div>